<!-- Page Heading -->
<h1 class="my-4">Artists
  <small>--Overview--</small>
</h1>

<div class="row">
  <% @artists.each do |artist|%>
  <div class="col-md-7">
    <%= image_tag artist.photo.image.thumbnail %>

  </div>
  <div class="col-md-5">
    <%= link_to artist.name, artist %>
  </div>

  <% end %>

</div>
<%= link_to "Add new Artist", new_artist_path, class: "btn btn-primary" %>
