<!-- Page Heading -->
<h1 class="my-4">Artists
  <small>--Overview--</small>
</h1>

<div class="row">
  <% @artists.each do |artist| %>
  <%#check if syntax is needed: <a href="#"> <%>
  <div class="col-md-7">
    <%#add image show syntax: <img class="img-fluid rounded mb-3 mb-md-0" src="and remove following two lines%>
    <%= artist.name %>
    <p>remove this text to replace for image</p>
    <%# possibly needed </a> <%>
  </div>
  <div class="col-md-5">
    <%= artist.name %>
  </div>

  <% end %>
</div>
