
<%= form_for [@artist, @artist.songs.new] do |f| %>
  <p><strong>Artist</strong> <%= @artist.name %></p>

  <hr>

  <div class="form-group" id="formgroup-name">
    <label>Name of song</label>
    <%= f.text_field :name, placeholder: "add new song", class: 'form-control' %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "Save song", class: "btn btn-success" %>
  </div>
<% end %>
